
.ua-container {
    /* background-color: orange; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;

}