

.container {
    display: flex;
    height:30vh;
    max-width: 50vw;
    background: rgba(255,255,255,0.05);
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    margin-top: 100px;

}

.form-container {
    padding: 30px;
    height:70vh;
    width: 100%;
    background-color: rgb(240, 158, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.register-form-container {
    padding: 30px;
    height:60vh;
    width: 100%;
    background-color: rgb(240, 158, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 20px; */
}
.submit-btn {
    padding: 8px 30px;
    border: none;
    background-color: crimson;
    color:#fff;
    font-size: 16px;
    bottom:-30px;
    cursor: pointer;
    transition:.5s;
    border-radius: 10px;
    text-transform: capitalize;
}


.submit-btn:hover {
    background-color: blue;
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
} 


.container .headings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
}
.container .headings h3 {
    font-size: 32px;
    color:#fff;
}
.container .headings p {
    color:darkgrey;
} 


 /* login form css */
.form-container input,
.register-form-container input{
    padding: 5px 20px;
    height: 30px;
    width: 250px;
    color: black;
    border-radius: 10px;
    margin: 10px 0;
}