<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Card.css">
</head>
<body>
    <div class="container home-content">
        <a class="browser-movie-link" href="#">
            <figure>
                <img class="img-responsive" src="images/test.jpg" alt="movie-id" width="210" height="315">
                <figcaption class="hidden-xs hidden-sm">
                    <span class="icon-star"></span>
                    <h4 class="rating">5.5/10</h4>
                    <h4>Genre</h4>
                    <h4>Musical</h4>
                    <span class="btton-green-view-bigu">View Details</span>
                </figcaption>
            </figure>
        </a>
    </div>
    <div>
        <a class="" href="#movie-id">
            Movie-title
        </a>
        <div class="">2023</div>
    </div>
</body>
</html>