.movie-page-container {
    margin-top: 80px;
    max-width: 100vw;
    min-height: calc(100vh - 80px);
    color: #fff;   
    display: flex;
    flex-direction: column;
} 

.kinds-of-genres {
    padding-top: 4px;
    padding-bottom: 4px;
}

@media screen and (max-width:400px) {
    .selected-movie-info {
        display:flex;
        flex-direction: column-reverse;
    }
    .movie-info {
        display:flex;
        flex-direction: column;
    }

    .year-of-movie {
        display: flex;
        flex: 1;
    }

    .movie-info h2{
        margin-top: 10px;
        line-height: 10px;
        font-size: 1em;
        margin-bottom: 15px;
    }

    .movie-info h1,
    .movie-info h2 {
        font-weight: bold;
        color:#fff;
        text-shadow: 0 2px 2px rgba(0,0,0,0.4);
    }


    .movie-graphic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
} 


@media screen and (max-width:882px) {

    .selected-movie-info {
        display:flex;
        /* margin: 30px; */
        /* justify-content: space-between; */
        /* background-color: blue; */
    }

    .movie-graphic,.movie-info {
        flex: 1 1 calc(50% - 2rem);

    }
    .movie-graphic {
        margin-right: 3px;
        display: flex;
        /* background-color: #919191; */
    }
    .movie-info {
        /* background-color: red; */
        margin-left: 3px;
        font-size: 0.92em;
        padding: 10px;
    }
}

.two-column-section{
    margin-bottom: 2rem;
} 


@media screen and (min-width:882px) {

    .two-column-section .selected-movie-info{
        display:flex;
        justify-content: space-between;
    }

    .movie-info {
        margin-right: 10px;
        padding: 20px;
    }
} 


/* ----------------- */
/* plot section      */
/* ----------------- */

.plot-summary-section {
    margin: 30px;
    max-width: 700px;
}

.plot-summary-section .uploader  a {
    text-decoration: none !important;
    color: #919191;
}

.plot-summary-section p {
    font-size: 0.98rem;
    color: #919191;
}

/* ----------------- */
/* comments section  */
/* ----------------- */

.comment-section {
    margin:30px
}

.add-comment-btn {
    margin-top: 10px;
} 

.the-movie-section {
    margin: 30px;
} 


.comment-btn {
    padding:4px;
    height: 50px;
    background-color: rgb(5, 235, 120);
    color: white;
    border-radius: 5px;
} 

.comment-btn:hover {
    background-color: crimson;
}

.comment-input-controls {
    
    margin-top:20px;
    margin-bottom:  20px;
    max-width: 700px;
    padding:10px;
    align-items: center;
    background: #171717;
    border-radius: 10px;
    color:black;
   
} 

.iform {
    display: flex;
    justify-content: space-between;
    /* border-radius: 10px; */
    color:black;
}

.comment-input {
    height: 50px;
    flex:1;
    /* background-color: red; */
    /* color:white; */
    background-color:rgba(249,249,249,0.8);
    border-radius: 10px;
    color:black;
}

.add-comment-btn {
    max-width: 700px;
    margin:20px;
    color: green;
    padding:10px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    background-color: wheat;
    align-self: center;
    justify-content: center;
}